PORT=5000
NODE_ENV=development
# FRONTEND_URL=http://localhost:4321
# PUBLIC_BACKEND_URL=http://localhost:5000
MAX_QUALITY=4320
FILE_TTL_MINUTES=60
ALLOW_UNLISTED_SITES=false


FRONTEND_URL=http://localhost:4321,https://freevideo.in,https://www.freevideo.in
PUBLIC_BACKEND_URL=http://localhost:5000,https://freevideo.in
PUBLIC_API_URL=https://api.freevideo.in